/* You can add global styles to this file, and also import other style files */
html, body {
  font-family: 'PT Sans', sans-serif;
}

// Utilities
.u-button {

  &--reset {
    background: 0;
    border: 0;
    border-radius: 0;

    &:hover {
      background: 0;
    }
  }
}
